.title{
    
  text-align: center;
  color: darkslateblue;
}

.until{
max-width: 500px;
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 20px;
margin: 200px;
padding:100px ;
background: AliceBlue;
background: PaleTurquoise;
background: -webkit-linear-gradient(to right, PaleTurquoise, CadetBlue);
background: linear-gradient(to right, CadetBlue, PaleTurquoise);
border-radius: 5px;
box-shadow: 0 0 5px lightslategray;
font-family: 'Georgia', 'Times New Roman', Times, serif;

}

.untilComponent{
  text-align: center;
  background: whitesmoke;
  border-radius: 5px;
}

.untilNumberic{
  color: SlateGray;
  padding: 1px 0;
  font-size: 60px;
  font-weight: bold;
}

.untilUnit{
  font-size: 15px;
  padding-bottom: 30px;
  font-style: italic;
  color: DarkSlateBlue;
}
.until-end{
  grid-column: span 3;
  text-align: center;
  color:CadetBlue ;
  font-weight: bold;
}



button {
  
border-radius: 20px;
border: 2px solid aliceblue;
background-color: CadetBlue;
color: #FFFFFF;
font-size: 12px;
font-weight: bold;
padding: 12px 20px;
letter-spacing: 1px;
text-transform: uppercase;
transition: transform 80ms ease-in;
}

.topcontainer{
  margin-left: 0%;
  float: right;
  padding-bottom: 30px;
  max-width: 900px;

}
